
/* general formatting -------------------------------------------------------*/
body {
	margin:0;
	padding:0;
	height:100%;
}

.error{
	color: red;
	position:relative;
	margin-top:-5px;
	margin-left:33px;
	font-size:16px;
	font-weight: bold;
}

textarea{
	resize:none;
}

h1 {
	color: #99CC00;
	width:450px;
	font: 35px Verdana, Arial, Helvetica, sans-serif;
	margin-top:0px;
}
a {
	color: #ffffff;
	font-size: 18px;
	font-family:swiss_light;
}
a:hover {
	color: #99CC00;
}
.err {
	color: #FF9900;
}
th {
	font-weight: bold;
	text-align: left;
}
li{
	display:inline;
}

/* fonts ---------------------------------------------------------------*/
@font-face{
	font-family:swiss_light;
	src: url('../fonts/Swz721l.ttf'),
		 url('../fonts/Swz721l.eot'); /* IE9 */
}

@font-face{
	font-family:swiss_bold;
	src: url('../fonts/Swz721b.ttf'),
		 url('../fonts/Swz721b.eot');
}

/* banner ---------------------------------------------------------------*/

.banner {
	height:95px;
	width:auto; 
	background-color:#70AD47;
	background-repeat:repeat-x;
	margin-bottom:0px;
}
.banner_content{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}
.banner_leaf {
	margin-top:5px;
	height:85px;
	float:left;
	display:inline;
}
.banner_selfsense{
	color:#ffffff;
	font-family:swiss_light;
	font-size:65px;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:10px;
	float:left;
	display:inline;
}

/* nav menu ------------------------------------------------------------------*/

.nav_menu {
	color:#ffffff;
	list-style-type:none;
	display:inline;
	min-width:362px;
	float:right;
	margin-top:47.5px;
	margin-right:10px;
	font-family:swiss_light;
	text-decoration:none;
	padding:0;
}
.nav_menu a{
	text-decoration:none;
	color:#ffffff;
	font-family:swiss_light;
	font-size:20px;
	border-right:1px solid #ffffff;
	padding-right:5px;
	padding-left:4px;
	display:inline;
}
.nav_menu a:hover{
	color:#cfcfcf;
}

/* page header ----------------------------------------------------------------*/

#content-header{
	width:1100px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin-bottom:0;
	margin-top:20px;
}
.page-name{
	width:545px;
	padding:0;
	margin:0;
	font-family:swiss_light;
	font-size:40px;
	color:#70AD47;
	float:left;
	display:inline;
	line-height:40px;
}
.header-profile{
	width:200px;
	padding:0;
	margin:0;
	font-family:swiss_light;
	color:#70AD47;
	float:right;
	display:inline;
}
.profile_info{
	margin-left:5px;
	float:left;
	display:inline;
}
.profile_info a{
	color:#7c7c7c;
	font-size:12px;
	line-height:12px;
	margin:0;
	padding:0;
}
.profile_info p{
	font-size:18px;
	margin:0;
	padding:0;
}
.profile_links{
	margin-top:-5px;
}

.profile_pic{
	width:40px;
	height:40px;
	display:inline;
	float:left;
	background:blue;
}
.profile_pic img{
	width:40px;
	height:40px;
}

/* footer -------------------------------------------------------------------*/

#footer{
	height:25px;
	width:100%;
	background:#cfcfcf;
	position:fixed;
	bottom:0;
}
#corp-footer{
	color:#676767;
	display:inline;
	float:left;
	margin-top:5px;
	margin-left:15px;
	margin-bottom:0px;
	font-family:swiss_light;
	font-size:12px;
}
#copyright-footer{
	color:#676767;
	display:inline;
	float:right;
	margin-top:5px;
	margin-bottom:0px;
	margin-right:15px;
	font-family:swiss_light;
	font-size:12px;
}





/*///////////////////////////////////////////////////////////////////////////////*/
/* index----------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/

#login-box1	{
	height:400px;
	width:470px;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	margin-bottom:40px;
	float:left;
	background-color: #70AD47;
}
#login-box2	{
	height:400px;
	width:470px;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	margin-bottom:40px;
	float:right;
	background-color: #70AD47;
}
#center-line {
	height:450px;
	width:1px;
	margin-left:25px;
	margin-top:55px;
	float:left;
	background-color: #70AD47;
}
#login-form{
	color:#ffffff;
	font:35px swiss_light;
	height:300px;
	padding-top:15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:0px;
}
#login-box1-icon{
	height:350px;
	width:325px;
	margin-left:72.5px;
	margin-right:auto;
}
#submit-button{
	height:35px;
	color:#70AD47;
	margin-left:-103px;
	margin-top:-20px;
	background:#ffffff;
	border:1px white;
	font-size:22px;
	line-height:35px;
	font-family:swiss_light;
}
#submit-button:hover{
	background:#cfcfcf;
}
#company_name{
	font-size:32px;
	color:#ffffff;
	text-align:center;
	margin-top:-25px;
	margin-bottom:0px;
	font-family:swiss_light;
}
#corporate_link{
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	font-family:swiss_light;
}
#corp-link-text{
	color:#ffffff;
	font-size:16px;
}
#corp-link-text:hover{
	color:#cfcfcf;
}
#register{
	color:#ffffff;
	font-size:18px;
	font-family:swiss_light;
	text-align:center;
	margin-top:10px;
}
#sign-in-text{
	font-size:28px;
	padding-left:40px;
	margin-bottom:0px;
	font-family:swiss_light;
}
#fail-text{
	color:#ffffff;
	font-size:28px;
	padding-left:40px;
	margin-top:5px;
	margin-bottom:0px;
	font-family:swiss_light;
}
.check{
 display:none;
}
#login_content {
	width:990px;
	min-height:100%;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	position:relative;
}
.textfield {
	height:40px;
	width:350px;
	font-size: 25px;
	font-family:swiss_light;
	color: #333333;
	background: #ffffff;
	border: 1px solid #70AD47;
	padding-left: 10px;
	margin-left:20px;
	margin-right:auto;
}

.login_label {
	color:#888888;
	font-size:25px;
	text-align:center;
}










/*///////////////////////////////////////////////////////////////////////////////*/
/* ind_home----------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/


#ind-home-content{
	height:450px;
	width:1100px;
	margin:0px auto 0px auto;
}

/*----------------------------------------------------------*/ 
/* Column 1 */

#ind-home-col1{
	height:450px;
	width:250px;
	display:inline;
	float:left;
}
#upcoming{
	height:150px;
	width:225px;
	float:left;
	margin:75px 0 0 0;
	background-color: #eaeaea;
}
#upcoming_title{
	width:225px;
	height:30px;
	color:#2e75b6;
	font-size:30px;
	font-family:swiss_light;
	text-indent:7px;
	margin:5px auto 7px auto;
}

#achievements_area{
	height:200px;
	width:225px;
	float:left;
	margin:50px 0 0 0;
}
#achievements_title{
	width:225px;
	height:30px;
	color:#2e75b6;
	font-size:30px;
	font-family:swiss_light;
	text-indent:7px;
	margin:5px auto 7px auto;
}
.achievement_icon_row{
	width:215px;
	height:60px;
	margin:0px 0 5px 15px;
}
.achievement_icon{
	width:60px;
	height:60px;
	margin:0px 10px 0px 0px;
	float:left;
	display:inline;
}
.achievement_icon img{
	width:60px;
	height:60px;
}

/*----------------------------------------------------------*/ 
/* Column 2 */

#ind-home-col2{
	height:450px;
	width:600px;
	margin:0px auto 0px auto;
	display:inline;
	float:left;
}
#wheel-pic{
	width:560px;
	height:250px;
	margin:0 20px;
}

#goals_area{
	width:535px;
	height:200px;
	margin:30px 32.5px 0 32.5px;
}
#goals_title{
	width:225px;
	height:30px;
	color:#2e75b6;
	font-size:30px;
	line-height:30px;
	font-family:swiss_light;
}
.goal_row{
	width:535px;
	height:85px;
	margin:0 0 5px 0;
}
progress{
	width:455px;
	height:25px;
	margin:20px 0 0 0;
	float:left;

}
.goal_percent{
	width:70px;
	height:70px;
	font-family:swiss_light;
	font-size:40px;
	text-align:right;
	color:#2e75b6;
	margin:7px 5px 0 0;
	float:left;
}
.percent_symbol{
	font-family:swiss_light;
	font-size:30px;
	color:#2e75b6;
}
.progress_bar{
	width:460px;
	height:25px;
	margin:20px 0 0 0;
	float:left;
}
.goal_stepbar_complete{
	height:25px;
	min-width:45px;
	margin:0 1px 0 0;
	float:left;
	background:#548335;
}
.goal_stepbar_inprogress{
	height:25px;
	min-width:45px;
	margin:0 1px 0 0;
	float:left;
	background-color:#548335;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 3px);
}
.goal_stepbar_notstarted{
	height:25px;
	min-width:45px;
	margin:0 1px 0 0;
	float:left;
	background:#cbcbcb;
}
.goal_name{
	height:30px;
	width:360px;
	font-size:20px;
	font-family:swiss_light;
	color:#2e75b6;
	margin:0 0 0 0;
	float:left;
	display:inline;
}
.continue_button{
	height:25px;
	width:90px;
	color:#a6a6a6;
	font-size:18px;
	line-height:25px;
	font-family:swiss_light;
	margin:0 5px 0 0;
	float:right;
	display:inline;
}
.continue_button img{
	height:12px;
	margin:7px 0 6px 0;
	float:right;
	display:inline;
}
.breathing_stepbar_complete{
	height:25px;
	min-width:75px;
	margin:0 1px 0 0;
	float:left;
	background:#548335;
}
.breathing_stepbar_inprogress{
	height:25px;
	min-width:75px;
	margin:0 1px 0 0;
	float:left;
	background-color:#548335;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 3px);
}
.breathing_stepbar_notstarted{
	height:25px;
	min-width:75px;
	margin:0 1px 0 0;
	float:left;
	background:#cbcbcb;
}

/*----------------------------------------------------------*/ 
/* Column 3 */

#ind-home-col3{
	height:450px;
	width:250px;
	display:inline;
	float:right;
}
#tools_area{
	width:225px;
	height:150px;
	margin:75px 0 0 0;
	float:right;
}
#tools_title{
	width:225px;
	height:30px;
	color:#2e75b6;
	font-size:30px;
	font-family:swiss_light;
	margin:5px auto 7px auto;
}
.toolkit_icon_row{
	width:215px;
	height:50px;
	margin:0px auto 5px auto;
}
.home_tool_icon{
	width:50px;
	height:50px;
	margin:0px 5px 0px 0px;
	float:left;
	display:inline;
	background-color:green;
}
.home_tool_icon img{
	width:45px;
	margin:3px 2px 0 2px;
}
#journal{
	background:#5b9bd5;
	opacity:0.4;
}
#journal:hover{
	opacity:1.0;
}
#breathing{
	background:#FFC90D;
	opacity:0.4;
}
#breathing:hover{
	opacity:1.0;
}
#mood{
	background:#7030a0;
	opacity:0.4;
}
#mood:hover{
	opacity:1.0;
}
#sleep{
	background:#2e75b6;
	opacity:0.4;
}
#sleep:hover{
	opacity:1.0;
}
#meds{
	background:#548235;
	opacity:0.4;
}
#meds:hover{
	opacity:1.0;
}
#treatments{
	background:#e0bd01;
	opacity:0.4;
}
#treatments:hover{
	opacity:1.0;
}
#relationships{
	background:#be5108;
	opacity:0.4;
}
#relationships:hover{
	opacity:1.0;
}
#diet{
	background:#9400d3;
	opacity:0.4;
}
#diet:hover{
	opacity:1.0;
}

#recent_activity{
	width:225px;
	float:right;
	margin:50px auto 0px auto;
}
#activity_title{
	width:225px;
	height:30px;
	margin:5px 0 7px 0;
	color:#2e75b6;
	font-size:30px;
	font-family:swiss_light;
	
}
.activity_content{
	width:225px;
	height:50px;
	margin:0 auto 10px auto;
}
.activity_icon{
	width:50px;
	height:50px;
	float:left;
	margin-left:5px;
	background-color:blue;
}
.activity_icon img{
	width:50px;
	height:50px;
}
.activity_line1{
	width:170px;
	color:#2e75b6;
	font-size:15px;
	font-family:swiss_light;
	margin:0 0 0 60px;
}
.activity_line2{
	width:170px;
	color:#2e75b6;
	font-size:11px;
	font-family:swiss_light;
	margin:0 0 0 60px;
}







/*///////////////////////////////////////////////////////////////////////////////*/
/* toolkit----------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/



#tool_bar{
	width:1000px;
	height:125px;
	margin-left:auto;
	margin-right:auto;
	bottom:10px;
	position:fixed;
}

#tool_bar_container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#sample-pic{
	width:1100px;
}

#tracker1{
	background:#5b9bd5;
	opacity:0.4;
}
#tracker1:hover{
	opacity:1.0;
}

#tracker2{
	background:#FFC90D;
	opacity:0.4;
}
#tracker2:hover{
	opacity:1.0;
}


#tracker3{
	background:#7030a0;
	opacity:0.4;
}
#tracker3:hover{
	opacity:1.0;
}


#tracker4{
	background:#2e75b6;
	opacity:0.4;
}
#tracker4:hover{
	opacity:1.0;
}


#tracker5{
	background:#548235;
	opacity:0.4;
}
#tracker5:hover{
	opacity:1.0;
}


#tracker6{
	background:#e0bd01;
	opacity:0.4;
}
#tracker6:hover{
	opacity:1.0;
}


#tracker7{
	background:#be5108;
	opacity:0.4;
}
#tracker7:hover{
	opacity:1.0;
}


#tracker8{
	background:#9400d3;
	opacity:0.4;
}
#tracker8:hover{
	opacity:1.0;
}


#tracker9{
	background:#00B050;
	opacity:0.4;
}
#tracker9:hover{
	opacity:1.0;
}


.selected_tool{
	height:97px;
	width:100px;
	margin-top:10px;
	margin-right:10px;
	display:inline;
	float:left;
	background:green;
}

.selected_tool img{
	width:90px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}

.unselected_tool{
	height:97px;
	width:100px;
	margin-right:10px;
	bottom:0;
	margin-top:35px;
	display:inline;
	float:left;
	background:red;
}

.unselected_tool img{
	width:90px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}
.toolframe{
	width:1100px;
	min-height:375px;
	margin:10px auto 0 auto;
	padding:0;
}










/*///////////////////////////////////////////////////////////////////////////////*/
/* mood----------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/



#mood_menu{
	width:945px;
	height:40px;
	margin:0 0 0 80px;
	padding:0;
}
#mood_menu h1{
	width:235px;
	font-family:swiss_light;
	font-size:25px;
	line-height:40px;
	color:#2e75b6;
	margin:0 15px 0 0;
	display:inline;
	float:left;
}
#mood_menu h2{
	font-family:swiss_light;
	font-size:18px;
	line-height:25px;
	color:#2e75b6;
	margin:12.5px 0 0 25px;
	display:inline;
	float:left;
}
#mood_menu form{
	display:inline;
	float:left;
}
#mood_list{
	margin:0px 15px 0 7px;
	
}
option{
	color:green;
	font-size:14px;
	font-family:swiss_light;
}
button{
	height:26px;
	color:#ffffff;
	font-family:swiss_light;
	font-size:18px;
	float:left;
	display:inline;
	margin:13px 0 0 25px;
	border:1px solid white;
	background:#70AD47;
}
button:hover{
	border:1px solid #70AD47;
	font-size:20px;
}
#sleep_divider{
	width:975px;
	height:1px;
	margin:0 0 0 62.5px;
	padding:0;
	background:grey;	
}

#mood_list select{
	display:inline;
	float:left;
	margin: 15px 0px 20px 5px;

}

.edit{
	width:15px;
	position:absolute;
	height:15px;
	left:400px;
	display:none;
	background-image:url('../images/edit.png');
	background-size:contain;
	box-shadow: none;
	border:0;
	background-color:transparent;
	cursor:pointer;

}

.add{
	width:15px;
	position:absolute;
	height:15px;
	background-image:url('../images/add.png');
	background-size:contain;
	box-shadow: none;
	border:0;
	background-color:transparent;
	cursor:pointer;

}

.disabled_add{
	width:15px;
	position:absolute;
	height:15px;
	left:100px;
	background-image:url('../images/edit.png');
	background-size:contain;
	box-shadow: none;
	border:0;
	background-color:transparent;
	opacity:0.2;
}

#add_modal{
	width:300px;
	margin-top:20px;
	overflow:hidden;
	margin-left:2px;
	font-family: swiss_light;
}


#add_modal input,select{
	margin-left:50px;
	margin-bottom:8px;

}

#add_modal select,option,input{
	color:#808080;
}

#add_modal label{
	display:block;
	width:100px;
	float:left;
}

#add_modal button{
	float:right;
}


#edit_modal{
	overflow: hidden;
	margin-right:20px;
	margin-left:20px;
	font-family:swiss_light;
	color:#808080;
}

#edit_modal h2{
	color:#2E75B6;
}

#edit_modal select{
	margin-left:50px;
	margin-bottom: 8px;
	color:#808080;
}

#edit_modal option{
	color:#808080;
}

#edit_modal input{
	width:75px;
	margin-left:50px;
	margin-bottom: 8px;
	color:#808080;
}

#edit_modal label{
	display:block;
	width:100px;
	float:left;
}

#edit_modal button{
	float:right;
}

#modal_rxby_title{
	font-size: 16px;
}



.delete{
	width:15px; 
	position:absolute; 
	height:15px;
	top:130px;
	display:none;
	background-image:url('../images/delete.png');
	background-size:contain;
	box-shadow:none;
	border:0;
	background-color:transparent;
	cursor:pointer;


}

.edit_form, .add_form{
	display:none;
}

#add_button{
	position:absolute;
	top:630px;
	left:900px;
	font-family: swiss_light;

}

.mood_icon:hover .delete, #med_key .med_detail_row:hover .delete, #med_key .med_detail_row:hover .edit{
	display:block;
}

#med_key .med_detail_row:hover{
	background: #E8E8E8;

}

#med_key .med_detail_row .delete{
	top:0px;
	left:415px;
}





/*///////////////////////////////////////////////////////////////////////////////*/
/* sleep-------------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/


#icon_tray{
	width:109px;
	height:375px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
#icon_tray img{
	width:75px;
	margin:100px 0 0 25px;
	
}
#divider{
	width:1px;
	height:250px;
	margin:95px 0 0 0;
	display:inline;
	float:left;
	background:grey;
}
#clouds{
	width:1000px;
	height:5px;
	margin:0 auto 0 auto;
}
#clouds img{
	height:100px;
	margin:0 85px 0 80px;
}
#icon_drop{
	width:990px;
	height:260px;
	margin:0 0 0 0;
	display:inline;
	float:right;
}
#date_range{
	width:990px;
	height:35px;
	margin:0 0 0 0;
	display:inline;
	float:right;
}
#date_range img{
	height:35px;
	margin:0 0 0 370px;
}
#sleep_frame{
	width:1000px;
}
#button{
	height:26px;
	color:#ffffff;
	font-family:swiss_light;
	font-size:18px;
	border:1px solid white;
	background:#70AD47;
	margin:125px 10px 0 0;
	display:inline;
	float:right;
}
#button:hover{
	border:1px solid #70AD47;
	font-size:20px;
}

#start {
    width: 50px;
    height: 50px;
	background-image:url('../images/sleep_start.png');
	background-size: 100% Auto;
	background-repeat:no-repeat;
	 background-position:center; 
	position:relative;
	top:25px;
	left:25px;
}

#stop {
    width: 50px;
    height: 50px;
	background-image:url('../images/sleep_end.png');
	background-size: 100% Auto;
	background-repeat: no-repeat;
	background-position: center; 	
	position:absolute;
	left:25px;
	top:210px;

	
}

#interruption0,#interruption1,#interruption2 {
    width: 50px;
    height: 50px;
	margin-right:2px;
	background-size: 100% Auto;
	background-image:url('../images/sleep_disturbance.png');
	position:absolute;
	left:25px;
	top:70px;
}

#note0,#note1,#note2 {
    width: 50px;
    height: 50px;
	margin-right:2px;
	background-size: 100% Auto;
	background-image:url('../images/sleep_note.png');
	position:absolute;
	left:25px;
	top:130px;

	
}


#wrapper{
	float:left;
	margin-top:100px;
	margin-left:-10px;
	width:900px;
	height:375px;
	background-image:url('../images/sleep_chart.png');
	background-size: contain;
	background-repeat:no-repeat;


}

#dropHere {
    vertical-align:middle;
	margin-top:30px;
	margin-left:120px;
    width:830px;
    height:285px;

}

span{
font-size:12px;
}

#titles p{
text-align:center;
}

#toolbar{
	position:relative; 
	display: inline;
	float:left;
	border-right:1px #a6a6a6 solid; 
	background-color:white; 
	height:310px; 
	width:98px;

}

#relationships_toolbar{
	position:relative; 
	display: inline;
	float:left;
	background-color:white; 
	height:310px; 
	width:98px;

}







/*///////////////////////////////////////////////////////////////////////////////*/
/* meds----------------------------------------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/





#meds_list{
	width:200px;
	height:325px;
	margin:10px 0 0 0;
	display:inline;
	float:left;
	background:red;
}
#am_pm{
	width:35px;
	height:325px;
	margin:10px 0 0 0;
	display:inline;
	float:left;
}
#am{
	width:35px;
	height:150px;
	margin:25px 0 0 0;
}
#am p{
	color:#2e75b6;
	font-family:swiss_light;
	font-size:25px;
	line-height:150px;
	text-align:center;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin:0;
}
#pm{
	width:35px;
	height:150px;
	margin:50px 0 0 0;
}
#pm p{
	color:#2e75b6;
	font-family:swiss_light;
	font-size:25px;
	line-height:150px;
	text-align:center;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin:0;
}
#pillbox{
	width:575px;
	height:325px;
	margin:10px 0 0 0;
	display:inline;
	float:left;
}

#pillbox button{
	margin:150px 0 0 0;
}
.day_col{
	width:180px;
	height:325px;
	margin:0 7px 0 0;
	display:inline;
	float:left;
}
.day_of_week{
	width:180px;
	height:25px;
	color:#2e75b6;
	font-size:25px;
	line-height:20px;
	font-family:swiss_light;
	text-align:center;
	margin:0 0 0 0;
}
.pill_area_am, .pill_area_pm{

	width:180px;
	min-height:140px;
	margin:0 0 0 0;
	padding-top:5px;
	background:#eaeaea;
}

.am_row0,.am_row1,.am_row2,.am_row3,.pm_row0,.pm_row1,.pm_row2,.pm_row3{
	width:180px;
	height:30px;
	margin:0 0 5px 0;
}

.dbyam_row0,.dbyam_row1,.dbyam_row2,.dbyam_row3,.dbypm_row0,.dbypm_row1,.dbypm_row2,.dbypm_row3{
	width:180px;
	height:30px;
	margin:0 0 5px 0;
}
	
.yam_row0,.yam_row1,.yam_row2,.yam_row3,.ypm_row0,.ypm_row1,.ypm_row2,.ypm_row3{
	width:180px;
	height:30px;
	margin:0 0 5px 0;
}

.dose_row1{
	width:180px;
	height:30px;
	margin:0 0 5px 0;
}
.dose_row2{
	width:180px;
	height:30px;
	margin:0 0 5px 0;
}
.dose_row3{
	width:180px;
	height:30px;
	margin:0 0 5px 0;
}
.dose_row4{
	width:180px;
	height:30px;
	margin:0 0 0 0;
}
.dose{
	width:30px;
	height:30px;
	margin:0 0 0 5px;
	display:inline;
	float:left;
	background:pink;
}
#key_divider{
	width:1px;
	height:480px;
	margin:5px 15px 0 0;
	background:grey;
	display:inline;
	float:left;
}
#med_key{
	width:470px;
	max-height:400px;
	margin:5px 0 0 0;
	display:inline;
	float:left;
	overflow: auto;
	position: relative;
	
}

#med_key_header h1{
	color:#70AD47;
	font-size:33px;
	line-height:30px;
	font-family:swiss_light;
	margin:5px 0 15px 0;
	position:static;
	float:left;
}
#med_key h1{
	color:#70AD47;
	font-size:33px;
	line-height:30px;
	font-family:swiss_light;
	margin:5px 0 15px 0;
	position:static;
}
#med_key h2{
	color:#2e75b6;
	font-size:25px; 
	line-height:22px;
	font-family:swiss_light;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
#med_key h3{
	color:#2e75b6;
	width:100px;
	font-size:16px; 
	line-height:25px;
	font-family:swiss_light;
	margin:2px 0 0 5px;
	display:inline;
	float:left;
}
#med_key p{
	min-width:300px;
	color:grey;
	font-size:16px;
	font-family:swiss_light;
	float:left;
	margin:0 0 0 0;
}
#med_key span{
	font-family:swiss_bold;
}
.med_detail_row{
	position: relative;
	width:430px;
	height:75px;
	margin:0 0 7px 10px;
}
.med_icon{
	width:75px;
	height:75px;
	display:inline;
	float:left;
	margin:0 5px 0 0;
}


#med_key .med_detail_row:nth-child(1) .med_icon{
	background:#7030A0;
}

#med_key .med_detail_row:nth-child(2) .med_icon{
	background:#5b9bd5;
}
#med_key .med_detail_row:nth-child(3) .med_icon{
	background:#00b050;
}
#med_key .med_detail_row:nth-child(4) .med_icon{
	background:#F79646;
}
#med_key .med_detail_row:nth-child(5) .med_icon{
	background:#BE5108;
}
#med_key .med_detail_row:nth-child(6) .med_icon{
	background:#E0BD01;
}



/*CHECK BOX  FIX ME!
*/
input[type=checkbox] {
	visibility: hidden;
}

.am_row, .pm_row{
	width:180px;
	height:30px;
	margin:0 0 5px 2px;
}

.am_row .am, .pm_row .pm{
	display:inline;
	float:left;
	width: 30px;
	height: 30px;
	margin: 0px 2px 2px 3px;
	position: relative;
}



.am_row .am label, .pm_row .pm label{
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	left: 4px;
	top: 4px;

	background:white;
	}



.am_row:nth-child(1) .am, .pm_row:nth-child(1) .pm{
	background: #7030A0;
}


.am_row:nth-child(1) .am label:after, .pm_row:nth-child(1) .pm label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #7030A0;

}

.am_row:nth-child(1) .am input[type=checkbox]:checked + label:after, .pm_row:nth-child(1) .pm input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background: #7030A0;
}


.am_row:nth-child(2) .am, .pm_row:nth-child(2) .pm{
	background: #5B9BD5;
}

.am_row:nth-child(2) .am label:after, .pm_row:nth-child(2) .pm label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #5B9BD5;

}

.am_row:nth-child(2) .am input[type=checkbox]:checked + label:after, .pm_row:nth-child(2) .pm input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background: #5B9BD5;
}

.am_row:nth-child(3) .am, .pm_row:nth-child(3) .pm{
	background: #00B050;
}

.am_row:nth-child(3) .am label:after, .pm_row:nth-child(3) .pm label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #00B050;

}

.am_row:nth-child(3) .am input[type=checkbox]:checked + label:after, .pm_row:nth-child(3) .pm input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background: #00B050;
}



.am_row:nth-child(4) .am, .pm_row:nth-child(4) .pm{
	background: #F79646;
}

.am_row:nth-child(4) .am label:after, .pm_row:nth-child(4) .pm label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #F79646;

}

.am_row:nth-child(4) .am input[type=checkbox]:checked + label:after, .pm_row:nth-child(4) .pm input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background:#F79646;
}



.am_row:nth-child(5) .am, .pm_row:nth-child(5) .pm{
	background: #BE5108;
}

.am_row:nth-child(5) .am label:after, .pm_row:nth-child(5) .pm label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #BE5108;

}

.am_row:nth-child(5) .am input[type=checkbox]:checked + label:after, .pm_row:nth-child(5) .pm input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background:#BE5108;
}

.am_row:nth-child(6) .am, .pm_row:nth-child(6) .pm{
	background: #E0BD01;
}

.am_row:nth-child(6) .am label:after, .pm_row:nth-child(6) .pm label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	background: #E0BD01;

}

.am_row:nth-child(6) .am input[type=checkbox]:checked + label:after, .pm_row:nth-child(6) .pm input[type=checkbox]:checked + label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background:#E0BD01;
}


.am_row .am label:hover::after, .pm_row .pm label:hover::after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.8;
}



/*/////////////////////////////////////////////////////////////////////////////////////////*/
/* breathing exercise----------------------------------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/


iframe{
	margin:0 0 0 40px;
	float:left;
}
#instructions{
	width:350px;
	height:345px;
	display:inline;
	float:left;
	margin:10px 0 0 20px;
	overflow:auto;
}
#instructions p{
	color:#70AD47;
	font-size:28px;
	font-family:swiss_light;
	margin:0;
}
#instructions li{
	display:block;
	color:grey;
	font-size:14px;
	font-family:swiss_light;
	display:list-item;
	margin:3px 0 0 0;
}
#instructions ol{
	margin:0 7px 0 0;
}



/*/////////////////////////////////////////////////////////////////////////////////////////*/
/* treatment plan--------------------------------------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/




#treatments_pic{
	height:375px;
	margin:0 auto 0 auto;
}
#pic_frame{
	width:875px;
}







/*/////////////////////////////////////////////////////////////////////////////////////////*/
/* goals-----------------------------------------------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/



/*----------------------------------------------------------*/
/* main structure */
#goals_content{
	width:1100px;
	height:475px;
	margin:15px auto 0 auto;
}
#col1{
	width:275px;
	height:475px;
	display:inline;
	float:left;
	padding:0;
}
#col2{
	width:275px;
	height:475px;
	display:inline;
	float:left;
	padding:0;
}
#col3{
	width:550px;
	height:475px;
	display:inline;
	float:left;
	padding:0;
}

/*----------------------------------------------------------*/
/* goal categories */
.category_name{
	color:#2e75b6;
	font-size:28px;
	font-family:swiss_light;
	margin:10px 0 7px 10px;
}
/* goal icon structure */
.icon_col{
	width:120px;
	height:415px;
	margin:0 5px 0 0;
	display:inline;
	float:left;
}
.icon_row{
	width:250px;
	height:120px;
	margin:0 0 0 15px;
}
.goal_row{
	width:535px;
	height:100px;
	margin:25px 0 5px 0;
}
.medium_icon{
	width:120px;
	height:120px;
	background:green;
	margin:0 5px 5px 0;
	display:inline;
	float:left;
}
.medium_icon img{
	width:80px;
	margin:-3px 0 0 20px;
}

.medium_icon p{
	color:#ffffff;
	font-size:25px;
	font-family:swiss_light;
	margin:5px 0 0 7px;
}

#treatment{
	background:#7030a0;
	opacity:0.4;
}
#treatment:hover{
	opacity:1.0;
}
#life{
	background:#548235;
	opacity:0.4;
}
#life:hover{
	opacity:1.0;
}
#work{
	background:#2e75b6;
	opacity:0.4;
}
#work:hover{
	opacity:1.0;
}

/*----------------------------------------------------------*/
/* progress bar */
.goal_percent{
	width:70px;
	height:70px;
	font-family:swiss_light;
	font-size:40px;
	text-align:right;
	color:#2e75b6;
	margin:7px 5px 0 0;
	float:left;
}
.percent_symbol{
	font-family:swiss_light;
	font-size:30px;
	color:#2e75b6;
}
.progress_bar{
	width:460px;
	height:25px;
	margin:20px 0 0 0;
	float:left;
}
.goal_stepbar_complete{
	height:25px;
	min-width:45px;
	margin:0 1px 0 0;
	float:left;
	background:#548335;
}
.goal_stepbar_inprogress{
	height:25px;
	min-width:45px;
	margin:0 1px 0 0;
	float:left;
	background-color:#548335;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 3px);
}
.goal_stepbar_notstarted{
	height:25px;
	min-width:45px;
	margin:0 1px 0 0;
	float:left;
	background:#cbcbcb;
}
.goal_name{
	height:30px;
	width:550px;
	font-size:30px;
	font-family:swiss_light;
	color:#2e75b6;
	margin:0 0 0 10px;
	float:left;
	display:inline;
}
.creation_date{
	color:#a6a6a6;
	font-size:14px;
	font-family:swiss_light;
	display:inline;
	float:right;
	margin:0 7px -25px 0;
}
.edit_icon img{
	width:15px;
	height:15px;
	display:inline;
	float:left;
	margin:3px 0 0 0;
}
.edit_button{
	height:20px;
	width:50px;
	color:#a6a6a6;
	font-size:14px;
	line-height:20px;
	font-family:swiss_light;
	margin:0 0 0 3px;
	float:left;
	display:inline;
}
.continue_button{
	height:25px;
	width:90px;
	color:#a6a6a6;
	font-size:18px;
	line-height:25px;
	font-family:swiss_light;
	margin:0 5px 0 0;
	float:right;
	display:inline;
}
.continue_button img{
	height:12px;
	margin:7px 0 6px 0;
	float:right;
	display:inline;
}
.job_stepbar_complete{
	height:25px;
	min-width:75px;
	margin:0 1px 0 0;
	float:left;
	background:#548335;
}
.job_stepbar_inprogress{
	height:25px;
	min-width:75px;
	margin:0 1px 0 0;
	float:left;
	background-color:#548335;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(255,255,255,.5) 1px, rgba(255,255,255,.5) 3px);
}
.job_stepbar_notstarted{
	height:25px;
	min-width:75px;
	margin:0 1px 0 0;
	float:left;
	background:#cbcbcb;
}

/*----------------------------------------------------------*/
/* goal steps */
.goal_steps_area{
	width:500px;
	height:250px;
	margin:0 0 0 15px;
}
.step_status_row{
	width:400px;
	height:30px;
	margin:0 0 10px 90px;
}
.step_name{
	color:#2e75b6;
	font-size:24px;
	font-family:swiss_light;
	line-height:40px;
	margin:0 0 0 15px;
	display:inline;
	float:left;
}
.step_status_icon{
	width:25px;
	height:25px;
	display:inline;
	float:left;
}
.step_status_icon img{
	width:25px;
	margin:10px 0 0 0;
}
.complete_date{
	min-width:326px;
	height:50px;
	margin:0px 0 0 135px;
}
#finish_left img{
	height:50px;
	margin:5px 0 0 0;
	display:inline;
	float:left;
}
#finish_right img{
	height:50px;
	margin:5px 0 0 0;
	display:inline;
	float:left;
}
.by_date{
	color:green;
	font-size:25px;
	line-height:25px;
	font-family:swiss_light;
	margin:20px 10px 0 10px;
	display:inline;
	float:left;
}







/*/////////////////////////////////////////////////////////////////////////////////////////*/
/* journal---------------------------------------------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/




#entries h1{
	font-family:swiss_light;
	color:green;
}
#entries h2{
	font-family:swiss_light;
	color:green;
}
#entries h5{
	font-family:swiss_light;
	color:green;
}

.subject{
	border-bottom:1px solid grey;
	width:1050px;
	height:35px;
	margin:5px auto 0 auto;
}
.subject p{
	font-family:swiss_light;
	font-size:25px;
	color:#2e75b6;
	margin:0 10px 0 10px;
	display:inline;
	float:left;
}
.subject input{
	width:300px;
	font-family:swiss_light;
	font-size:18px;
	color:#2e75b6;
	display:inline;
	float:left;
	height:25px;
	margin:5px 0 5px 0;
	border:none;
}

.body{
	width:1000px;
	height:290px;
	margin:10px auto 0 auto;
}
.body textarea{
	font-family:swiss_light;
	font-size:18px;
	color:#736F6E;
	width:1000px;
	height:290px;
	margin:0;	
	border:1px outset;
}

#save_journal{
	float:right;
}






/*/////////////////////////////////////////////////////////////////////////////////////////*/
/* relationships---------------------------------------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/



#coworkers {
	z-index:9999;
    width: 50px;
    height: 50px;
	background-image:url('../images/coworkers.png');
	background-size: 100% Auto;
	background-repeat:no-repeat;
	 background-position:center; 
	position:relative;
	top:10px;
	left:25px;
}

#family{
    width: 50px;
    height: 50px;
	margin-right:2px;
	background-size: 100% Auto;
	background-image:url('../images/fam.png');
	position:absolute;
	left:25px;
	top:70px;
}

#extended_family{
    width: 50px;
    height: 50px;
	margin-right:2px;
	background-size: 100% Auto;
	background-image:url('../images/extended_fam.png');
	position:absolute;
	left:25px;
	top:130px;

	
}

#friends{
    width: 50px;
    height: 50px;
	background-size: 100% Auto;
	background-image:url('../images/friends.png');
	position:absolute;
	left:25px;
	top:190px;
}

#providers {
    width: 50px;
    height: 50px;
	background-image:url('../images/providers.png');
	background-size: 100% Auto;
	background-repeat: no-repeat;
	background-position: center; 	
	position:absolute;
	left:25px;
	top:250px;
}


#relationship_wrapper{
	margin-top:15px;
	margin-left:100px;
	width:950px;
	height:375px;
	background-image:url('../images/social_tracker.png');
	background-size: contain;
	background-repeat:no-repeat;


}

#sleep_dropHere {
	margin-top:15px;
    vertical-align:middle;
    width:900px;
    height:225px;

}






/*/////////////////////////////////////////////////////////////////////////////////////////*/
/* dashboard-------------------------------------------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////////*/



#dashframe{
	width:1200px;
	margin:20px auto 0 auto;
}
#wheel_col{
	width:250px;
	height:265px;
	margin-top:50px;
	padding-right: 100px;
	margin-bottom: 200px;
	display:inline;
	float:left;
}
#dates{
	height:40px;
}
#control{
	height:20px;
	width:260px;
	color:#2e75b6;
	margin: 14px 0 0 -350px;
	text-align: center;
	display:inline;
	float:left;
}
.date_label{
	font-family:swiss_light;
	font-size:20px;
	line-height:20px;
	margin:0 5px 0 5px;
	display:inline;
	float:left;
}
.date_input{
	color:grey;
	width:75px;
	margin:1px 0 0 0;
	text-align:center;
	display:inline;
	float:left;
	border:1px solid grey;
}
#date_submit{
	height:20px;
	width:25px;
	font-size:12px;
	color:#ffffff;
	border:1px solid #ffffff;
	background:green;
	margin:0 0 0 5px;
}
#date_submit:hover{
	background:grey;
	border:1px solid grey;
}
#wheel_area{
	width:250px;
	height:280px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
#wheel_col p{
	font-size:30px;
	font-family:swiss_light;
	color:#2e75b6;
	line-height:30px;
	margin:0;
}
#wheel_area img{
	width:250px;
	margin:0;
}
#key_scores{
	width:250px;
	height:125px;
	display:inline;
	float:left;
	margin:5px 0 0 0;
}
.key_score_box{
	width:75px;
	height:75px;
	display:inline;
	float:left;
	margin:7px 5px 0 0;
}
.score_name{
	color:#ffffff;
	font-size:20px;
	line-height:20px;
	font-family:swiss_light;
	text-align:center;
	margin:3px 0 0 0px;
}
.score{
	color:#ffffff;
	font-size:45px;
	line-height:35px;
	margin:10px 0 0 0;
	font-family:swiss_light;
	text-align:center;
}
#mood_score{
	background:#7030a0;
}
#sleep_score{
	background:#5b9bd5;
}
#med_score{
	background:#548235;
}
#tools{
	float: right;
	width:250px;
	height:55px;
}

#tools img{
	width:30px;
	height:30px;
	margin:0;
}
.dash_tool{
	width:40px;
	height:40px;
	margin:0 5px 0 0;
	display:inline;
	float:left;
}
#graph_col{
	width:850px;
	height:365px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
.graph_row{
	width:100%;
	height:400px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
/*#trends_graph{
	width:566px;
	height:232.5px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}*/
#mood_graph{
	width:700px;
	height:400px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
#meds_graph{
	width:350px;
	height:300px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
#sleep_graph{
	width:350px;
	height:300px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}
#social_graph{
	width:400px;
	height:300px;
	margin:0 0 0 0;
	display:inline;
	float:left;
}




#journal_entries{
	background-color: #F9F9F9;
}

#journal_subject{
	font-size:18px; font-family:arial;
}

#journal_date{
	font-size:12px; font-family:arial;
}

#journal_body{
	font-size:14px; font-family:arial;
}

.toolframe #registration {
	width:435px;
	font-family:swiss_light;
	font-size:25px;
	line-height:40px;
	color:#2e75b6;
	margin:0 15px 0 0;
	display:inline;
	float:left;
}

#reg_box {
}

.registration_fields {
	margin:10px;
}